@import url('./auth.css');
@import url('./search.css');
@font-face {
    font-family: 'Satoshi';
    src: url('../utils/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff2'),
        url('../utils/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../utils/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
        url('../utils/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-MediumItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --basic_background: #1c2127;
    --section_background: #32383F;
    --ash-text_color: #A7B1BC;
    --ash-text_color2: #777E90;
    --ash-text_color3: #353945;
    --white_color: #fff;
    --basic_dark: #12171D;
    --bg_active-color: #252A30;
    --basic_green: #00C076;
    --border-green: #25C26E;
    --tab-bg_color: #1b1f24;
    --tab-bg_color2: #21262C;
    --basic-red: #FF6838;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;     
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--basic_background);
    font-family: 'Satoshi', sans-serif;
}

/* utils */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}


.d-flex_h {
    display: flex;
    align-items: center;
    gap: 10px;
}
.d-flex_h__between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.d-flex_v {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hide_on_desktop {
    display: none;
}
.show {
    display: flex !important;
}
@media (max-width: 768px) {
    .hide_on_mobile {
        display: none;
    }
    .hide_on_desktop {
        display: block;
    }
}




/* Header Section */
.home-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header__nav {
    background-color: var(--section_background);
    border-bottom: 1px solid #1C2127;
    position: relative;
    padding: 10px;
}
.header-logo {
    border-right: 2px solid var(--ash-text_color);
    padding-right: 15px;
}
.header-menu_links {
    gap: 30px;
}
.header-menu_links a {
    color: var(--ash-text_color);
}
.header-menu_links a.hover,
.header-menu_links a.active {
    color: var(--white_color);
}

.menu-toggle_btn {
    cursor: pointer;
}
.user-profile {
    background-color: var(--basic_dark);
    border: 1px solid #32383F;
    border: 0px, 0px, 1px, 0px;
    padding: 5px 10px;
    border-radius: 8px;
}
.user-profile .profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 100px;
    border: 1.26px solid #F0A0A0;
}
.user-profile .profile-pic img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}
.user-profile span {
    color: var(--ash-text_color);
    font-size: 14px;
}


.coin-info_section {
    background-color: var(--section_background);
    padding: 15px 10px;
    margin: 5px;
    border-radius: 8px;
}
.coin-info_section .d-flex_h {
    align-items: center;
}
.coin-info_section h3 {
    color: #fff;
    font-weight: normal;
}
.coin-info_section .fa-angle-down {
    color: #fff;
    margin-left: 5px;
}
.coin-info_section .coin-price {
    color: var(--basic_green);
    font-size: 18px;
}


.price-info {
    overflow: auto;
    gap: 20px;
    width: 100%;
}
.price-info::-webkit-scrollbar {
    height: 4px;
}
.price-info::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.price-info::-webkit-scrollbar-track {
    background: transparent;
}
.price-info .prices {
    border-left: 2px solid #EAF0FE;
    padding-left: 15px;
    color: var(--ash-text_color);
}
.price-info .prices span {
    font-size: 12px;
}
.price-info .prices .price-percentage {
    font-size: 14px;
    color: var(--white_color);
}
.price-info .prices .increase-color {
    font-size: 14px;
    color: var(--basic_green);
}



/* Main Content */
.main-content {
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    /* grid-template-columns: 74% 25%; */
    /* margin-top: 20px; */
}

.trading-section {
    display: grid;
    grid-template-columns: 65% 34%;
    justify-content: space-between;
    width: 74.4%;
}
.trading-stats {
    position: relative;
    width: 100%;
    background-color: var(--section_background);
    border-radius: 8px;
    padding: 10px;
}
.trading-chart_keys {
    color: var(--ash-text_color);
    font-weight: 500;
    margin: 10px 0;
    gap: 15px;
    padding: 15px;
    background-color: var(--section_background);
    border-radius: 8px;
}
.trading-chart_keys .interval {
    cursor: pointer;
}
.interval.active {
    font-weight: bold;
    background-color: var(--ash-text_color2); 
    padding: 5px 10px;
    border-radius: 15px;
}
.trading-chart_keys .fa-angle-down {
    font-size: 10px;
    position: relative;
    top: -2px;
}
.trading-stats_tab {
    display: flex;
    cursor: pointer;
    width: 100%;
    /* padding: 10px; */
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-around;
    color: var(--ash-text_color);
    background-color: var(--tab-bg_color);
}
.trading-stats_tab div {
    background-color: var(--tab-bg_color);
    color: var(--ash-text_color);
    padding: 10px 20px;
    border-bottom: none;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    width: 50%;
}
.trading-stats_tab .active {
    color: var(--white_color);
    background-color: var(--tab-bg_color2);
    box-shadow: 0px 3px 1px 0px #0000000A;
    box-shadow: 0px 3px 8px 0px #0000001F;
    margin: 1px;
}
.trading_tab-content {
    display: none;
}
.trading_tab-content.active {
    display: block;
}

.order-tab_filter .success-filter img {
    padding: 10px;
}
.order-tab_filter .success-filter img.active {
    border-radius: 4px;
    background-color: var(--ash-text_color3);
}
.order-tab_filter .num-filter {
    background-color: var(--ash-text_color3);
    padding: 10px 15px;
    border-radius: 5px;
    color: #F4F5F6;
    font-size: 12px;
}

.order-records_table .order-records__title {
    justify-content: space-around;
    color: var(--ash-text_color);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}
.order-records_table .order-records_details {
    margin: 20px 0;
    gap: 25px;
}
.order-records_table .order-records_details .d-flex_h {
    justify-content: space-around;
    font-weight: 500;
    color: var(--white_color);
    position: relative;
}
.progress_red {
    position: absolute;
    right: 0;
    background-color: #ff673821;
    height: 28px;
}
.progress_green {
    position: absolute;
    right: 0;
    background-color: #25c26e18;
    height: 28px;
}
.progress_width-100 {
    width: 100%;
}
.progress_width-50 {
    width: 50%;
}
.progress_width-1 {
    width: 1%;
}

.success_increase,
.order-records_summary  .success_increase,
.order-records_table .success_increase .records__row1 {
    color: var(--basic_green);
}

.order-records_table .downward_decrease .records__row1 {
    color: var(--basic-red);
}

.order-records_summary {
    justify-content: center;
    color: var(--white_color);
    margin: 30px 5px;
}



.summary_section {
    background-color: var(--section_background);
    padding: 10px;
    border-radius: 8px;
    width: 74.4%;
}
.summary_tab-title {

}
.summary_tab {
    display: flex;
    cursor: pointer;
    max-width: 75%;
    /* padding: 10px; */
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-around;
    color: var(--ash-text_color);
    background-color: var(--tab-bg_color);
}
.summary_tab div {
    background-color: var(--tab-bg_color);
    color: var(--ash-text_color);
    padding: 10px 20px;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    width: 50%;
    border-right: 1px solid var(--tab-bg_color2);
}
.summary_tab .active {
    border-radius: 8px;
    color: var(--white_color);
    background-color: var(--tab-bg_color2);
    box-shadow: 0px 3px 1px 0px #0000000A;
    box-shadow: 0px 3px 8px 0px #0000001F;
    margin: 1px;
}
.summary_tab-content {
    display: none;
}
.summary_tab-content.active {
    display: block;
}
.open-orders_section {
    min-height: 300px;
    width: 100%;
}
.open-orders_section .no-open_orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--white_color);
    max-width: 400px;
    text-align: center;
    height: 300px;
}
.open-orders_section .no-open_orders p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--ash-text_color);
}



/* -------------- */
/* aside section */
/* ------------ */
aside {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--section_background);
}
.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: var(--tab-bg_color);
    /* justify-content: space-around; */
    border-radius: 8px;
    width: 100%;
}

.tabs div {
    background-color: var(--tab-bg_color);
    color: var(--ash-text_color);
    padding: 10px 20px;
    border-bottom: none;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    width: 50%;
}

.tabs div.active {
    background-color: var(--tab-bg_color2);
    color: var(--white_color);
    border: 1px solid var(--border-green);
    border-radius: 8px;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}


.buy-tab_section > section {
    justify-content: space-around;
    font-size: 14px;
    color: var(--ash-text_color2);
}
.buy-tab_section > section div.active {
    padding: 6px 12px 6px 12px;
    background-color: var(--ash-text_color3);
    color: var(--white_color);
    border-radius: 100px;
    font-weight: bold;
}


#limit-tab.d-flex_v {
    gap: 15px;
    padding: 10px;
}

#limit-tab .limit-tab input,
#limit-tab .limit-tab select {
    color: var(--ash-text_color);
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    width: 100%; 
    border: none;
    background-color: var(--section_background);
}

#limit-tab .limit-tab select {
    cursor: pointer;
}
#limit-tab .limit-tab select option {
    cursor: pointer;
    /* border: 1px solid #373B3F; */
    padding: 13px 16px 13px 16px;
    border-radius: 8px;
    /* width: 214px; */
    padding: 0;
    border-radius: 12px;
    background-color: var(--basic_background);
}
#limit-tab .limit-tab select option:last-child {
    border-bottom: none; /* Remove border for last option */
}
#limit-tab .limit-tab {
    border: 1px solid #373B3F;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    /* gap: 4px; */
    justify-content: space-between;
}
#limit-tab .limit-tab input::placeholder {
    color: var(--ash-text_color);
    text-align: end;
}

#limit-tab .limit-tab .fa-angle-down {
    font-size: 10px;
    position: relative;
    top: -2px;
    left: 2px;
}

#limit-tab .post-checkbox {
    align-items: center;
}

.purchase_section {
    color: var(--ash-text_color);
    font-size: 12px;
}
.purchase-btn {
    width: 100%;
}
.purchase-btn button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #483BEB 0%, #7847E1 47.92%, #DD568D 96.35%);
    border: none;
    border-radius: 8px;
    color: var(--white_color);
    cursor: pointer;
}

aside hr {
    border-color: #394047;
}

.purchase-info h5 {
    color: var(--white_color);
}
.deposit-btn {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: var(--white_color);
    background-color: #2754FF;
    font-size: 14px;
    cursor: pointer;
}


/* -------------- */
/* footer section */
/* ------------ */
.footer {
    background-color: var(--section_background);
    border-radius: 8px;
    color: var(--ash-text_color);
    padding: 10px 0;
    text-align: center;
    margin-top: 15px;
}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer .social-icons {
    margin: 10px 0;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}
.footer .social-icons a:hover {
    color: #007bff;
}




/* Screen Responsiveness */

@media (max-width: 767px) {
    /* Header Section */
    .header-logo {
        border-right: none;
        padding-right: 0;
    }
    .header-menu_links {
        flex-direction: column;
        position: absolute;
        gap: 0px;
        right: 0;
        border: 1px solid #373B3F;
        top: 35px;  
        margin-top: 15px;
        border: 1px solid #373B3F;
        padding: 13px 16px 13px 16px;
        border-radius: 8px;
        width: 214px;
        padding: 0;
        border-radius: 12px;
        background-color: var(--basic_background);
        display: none;
    }
    .header-menu_links li {
        padding: 10px 30px;
        width: 100%;
        cursor: pointer;
    }
    .header-menu_links a {
        color: var(--white_color);
        width: 100%;
    }
    .header-menu_links li:hover,
    .header-menu_links a.active,
    .header-menu_links li.active {
        background-color: var(--bg_active-color);
        color: var(--white_color);
    }

    .coin-info_section {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .price-info .prices {
        min-width: 120px;
    }
    .price-info li:first-child .prices {
        border-left: none;
        padding-left: 0;
        margin-left: -35px;
    }

    /* Main Content */
    .main-content {
        flex-direction: column;
    }
    .trading-section {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .summary_section {
        width: 100%;
    }
    .summary_tab {
        max-width: 100%;
    }
    aside {
        position: relative;
        width: 100%;
    }
    
}